body::after {
  content: "";
  opacity: 0.5;
  background-color: #fff;
/*  background-color: #DEDADB;
  background-image: url('/img/bdd.jpg');*/
  background-size: cover;
}

.bdd {
  margin: 0 auto;
  padding: 150px 100px;
  width: 600px;
  text-align: center;
}

.bdd .line {
  width: 550px;
  margin: 25px auto;
  text-align: center;
}

.bdd input {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  padding: 15px;
  width: 500px;
  border: none;
  outline: none;
}

.bdd button {
  background-color: #0F4D92;
  color: #fff;
  font-size: 25px;
  padding: 15px 40px;
  margin: 0 auto;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: none;
}

.bdd button:hover {
  background-color: #0a3566;
}
